@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #16161a;
    --headline: #fffffe;
    --paragraph: #94a1b2;
    --border: #719dba7a;
    --button: #7f5af0;
    --scroll: #7f5af0;
    --button-border: #7f5af0;
    --button-hover: #5b36cc;
    --button-text: #fffffe;
    --button-text-hover: #fffffe;
    --card-background: #242629;
    --card-background-effect: #2426295c;
    --card-border-color: #ffffff25;
    --card-headline: #fffffe;
    --card-paragraph: #94a1b2;
    --link-color: #7f5af0;
    --link-hover: #fff;
    --nav-item: #94a1b2;
    --Logo-background: #fffffe;
    --Logo-text-color: #fff;
    --gradient-color-1: #36264385;
    --gradient-color-2: #5c149385;
    --input-background: #242629;
    --input-border-color: #7575755e;
    --badge-background: #7f5af0;
    --badge-text: #fffffe;
    --skeleton-color: #353f4e;
    --tertiary-color: #7f5af0;
    --footer-border-color: #ffffff25;
    --footer-text: #94a1b2;
    --menu-color: #94a1b2;
    --input-text: #fff;
    --input-border: "#ef4565";
    --selectBox-border: #7f5af0;
    --outline-button-text: #cbbaff;
    --mark: #000;
    --active: #fff;
    --active-text: #000;
    --mobile-nav: #16161aa6;
  }

  .light {
    --background: #f9f9f9;
    --headline: #000000;
    --paragraph: #333333;
    --border: #000000;
    --button: transparent;
    --scroll: #000;
    --button-border: #000000;
    --button-hover: #000000;
    --button-text: #000000;
    --button-text-hover: #fff;
    --card-background: #edf0f1;
    --card-headline: #000000;
    --card-paragraph: #333333;
    --card-background-effect: #2426295c;
    --card-border-color: #ffffff25;
    --link-color: #000000;
    --link-hover: #fff;
    --Logo-text-color: #000000;
    --input-background: #e6e5e7;
    --input-border-color: #000;
    --badge-background: #000000;
    --badge-text: #eee;
    --skeleton-color: #353f4e;
    --tertiary-color: #000000;
    --footer-border-color: #000000;
    --footer-background: #161818;
    --footer-text: #c1c2c2;
    --menu-color: #000;
    --input-text: #000;
    --input-border: "#ef4565";
    --selectBox-border: #000;
    --outline-button-text: #000;
    --mark: #7f5af0;
    --mobile-nav: #f9f9f921;
  }
}

body {
  font-family: "Cairo", sans-serif;
}

html {
  overscroll-behavior: none;
}

@layer base {
  * {
    @apply m-0 box-border p-0;
  }

  html {
    @apply text-base;
  }

  a {
    @apply cursor-pointer;
  }
}

.hoverd {
  transition: all 0.3s ease 0s !important;
}

@layer components {
  .cardsGroup {
    @apply flex min-h-[100px] w-full flex-col gap-5 max-md:w-full;
  }

  .section {
    @apply py-[20px];
  }

  form {
    @apply flex w-full flex-col gap-4 bg-[var(--background)];
  }

  form .form-title {
    @apply text-center text-[var(--headline)];
  }

  .project-cards-container a:hover .overed {
    @apply opacity-40;
  }

  .project-cards-container a:not(:hover) .overed {
    @apply transition-opacity duration-300 ease-in-out;
  }

  .title {
    @apply inline-block scale-[0.94];
  }

  .span-title {
    @apply w-max opacity-0 blur-[4px];
  }

  .link {
    @apply font-bold text-[var(--paragraph)] underline transition-all hover:text-[var(--link-hover)];
  }

  .header {
    @apply flex flex-col items-start justify-start pt-8 max-md:pt-4;
  }

  .header-title {
    @apply flex flex-col gap-4 py-[4px] text-2xl font-bold capitalize text-[var(--headline)];
  }

  .subtitle {
    @apply w-full text-base text-[var(--headline)] opacity-80 max-md:max-w-none;
  }

  .section-subtitle {
    @apply w-full pb-[18px] text-base text-[var(--paragraph)] max-md:max-w-none;
  }

  .section-title {
    @apply flex flex-col gap-4 py-6 text-xl font-bold capitalize text-[var(--headline)];
  }

  .description {
    @apply w-full py-2 text-base text-[var(--paragraph)] max-md:max-w-none;
  }

  .main-navbar {
    @apply flex w-full flex-row items-center justify-between rounded-3xl py-3 max-md:m-auto max-md:border-b max-md:border-none max-md:px-0 max-md:backdrop-blur-2xl;
  }

  .cardGroup {
    @apply grid grid-cols-3 gap-4 max-md:grid-cols-1;
  }

  .cardContainer {
    @apply h-max w-1/3 border border-[var(--border)] bg-[var(--card-background)] p-4 max-md:w-full;
  }

  .inputWithIcon {
    @apply flex items-center justify-start gap-1 rounded-md border-2 border-[var(--input-border-color)] bg-[var(--card-background)] px-2 text-[var(--paragraph)];
  }

  .badeIcon {
    @apply cursor-pointer font-bold text-[var(--headline)];
  }

  .activeLink {
    @apply relative max-md:hidden;
  }

  .sectionIcon {
    @apply h-8 w-8 cursor-pointer rounded-md bg-[var(--card-background)] p-2 text-[var(--headline)];
  }
}

@layer utilities {
  .fade-in-right {
    animation: fade-in-right 0.3s ease-out;
  }

  .fade-out-right {
    animation: fade-out-right 0.3s ease-in;
  }

  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-out-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  @keyframes moving {
    50% {
      width: 100%;
    }
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }
}

@screen md {
  .activeLink span:first-child::after {
    @apply absolute bottom-0 left-[-5px] top-0 z-[9999] m-auto h-[90%] w-[2px] rounded-lg bg-[var(--headline)] content-[''];
  }
}

.page {
  @apply min-h-[100dvh] w-full;
}

.dropdownMenuItemIcon {
  @apply rounded-sm bg-[var(--card-background)] p-[3px] text-[var(--card-headline)];
}

.input-error {
  @apply border border-red-400;
}
