@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

body {
  font-family: "Cairo", sans-serif;
  overscroll-behavior: none;
}

html {
  overscroll-behavior: none;
}

@layer base {
  * {
    @apply m-0 box-border p-0;
  }

  html {
    @apply text-base;
  }

  a {
    @apply cursor-pointer;
  }
}

.hoverd {
  transition: all 0.3s ease 0s !important;
}

@layer components {
  .cardsGroup {
    @apply flex min-h-[100px] w-full flex-col gap-5 max-md:w-full;
  }

  .section {
    @apply py-[20px];
  }

  form {
    @apply flex w-full flex-col gap-4 bg-[var(--background)];
  }

  form .form-title {
    @apply text-center text-[var(--headline)];
  }

  .project-cards-container a:hover .overed {
    @apply opacity-40;
  }

  .project-cards-container a:not(:hover) .overed {
    @apply transition-opacity duration-300 ease-in-out;
  }

  .title {
    @apply inline-block scale-[0.94];
  }

  .span-title {
    @apply w-max opacity-0 blur-[4px];
  }

  .link {
    @apply font-bold text-[var(--paragraph)] underline transition-all hover:text-[var(--link-hover)];
  }

  .header {
    @apply flex flex-col items-start justify-start pt-8 max-md:pt-4;
  }

  .header-title {
    @apply flex flex-col gap-4 py-[4px] text-2xl font-bold capitalize text-[var(--headline)];
  }

  .subtitle {
    @apply w-full text-base text-[var(--headline)] opacity-80 max-md:max-w-none;
  }

  .section-subtitle {
    @apply w-full pb-[18px] text-base text-[var(--paragraph)] max-md:max-w-none;
  }

  .section-title {
    @apply flex flex-col gap-4 py-6 text-xl font-bold capitalize text-[var(--headline)];
  }

  .description {
    @apply w-full py-2 text-base text-[var(--paragraph)] max-md:max-w-none;
  }

  .main-navbar {
    @apply flex w-full flex-row items-center justify-between rounded-3xl py-3 max-md:m-auto max-md:border-b max-md:border-none max-md:px-0 max-md:backdrop-blur-2xl;
  }

  .cardGroup {
    @apply grid grid-cols-3 gap-4 max-md:grid-cols-1;
  }

  .cardContainer {
    @apply h-max w-1/3 border border-[var(--border)] bg-[var(--card-background)] p-4 max-md:w-full;
  }

  .inputWithIcon {
    @apply flex items-center justify-start gap-1 rounded-md border-2 border-[var(--input-border-color)] bg-[var(--card-background)] px-2 text-[var(--paragraph)];
  }

  .badeIcon {
    @apply cursor-pointer font-bold text-[var(--headline)];
  }

  .activeLink {
    @apply relative max-md:hidden;
  }

  .sectionIcon {
    @apply h-8 w-8 cursor-pointer rounded-md bg-[var(--card-background)] p-2 text-[var(--headline)];
  }
}

@layer utilities {
  .fade-in-right {
    animation: fade-in-right 0.3s ease-out;
  }

  .fade-out-right {
    animation: fade-out-right 0.3s ease-in;
  }

  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-out-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  @keyframes moving {
    50% {
      width: 100%;
    }
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }
}

@screen md {
  .activeLink span:first-child::after {
    @apply absolute bottom-0 left-[-5px] top-0 z-[9999] m-auto h-[90%] w-[2px] rounded-lg bg-[var(--headline)] content-[''];
  }
}

.page {
  @apply min-h-[100dvh] w-full;
}

.dropdownMenuItemIcon {
  @apply rounded-sm bg-[var(--card-background)] p-[3px] text-[var(--card-headline)];
}

.input-error {
  @apply border border-red-400;
}
